html
  title Login
  head
    link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
  body.login
    include components/navbar.pug
    form.login__form(method='POST' action='/auth')
      p.login__title Login
      div.login__div
        input.atv-input-field(type='text' id='username' placeholder='Username' name='username' value='', required)
      div.login__div
        input.atv-input-field(type='password' id='password' placeholder='Password' name='password' value='', required)
      button.atv-button(type='submit' value='connecting') Log in
      div 
        p #{errorMessage}