html(lang="en")
    title= "Worlde Clone"
style 
    include style.css 
script(type="module")
    include ./scripts/board.js

body
    div(class= 'title') Wordle
    div(class= 'game')
        div(id= 'game')
    </div>
    div(id = 'answer')
    div(id = 'used') Incorrect Letters

